/* Large Screens */
@media (min-width: 992px) {

    /* Navbar Styling Start */
    .custom-underline {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }

    .custom-underline::after {
        content: "";
        position: absolute;
        left: 0%;
        /* Adjust this value to change the length */
        right: 0%;
        /* Adjust this value to change the length */
        bottom: -4px;
        height: 3px;
        background-color: #FFCC33;
        transform: scaleX(0);
        /* Initially invisible */
        transform-origin: bottom right;
        transition: transform 0.3s ease-in-out;
    }

    .custom-underline:hover::after {
        transform: scaleX(1);
        /* Visible on hover */
        transform-origin: bottom left;
    }
}

/* Small Screens */
@media (max-width: 992px) {
    .menu {
        position: absolute;
        /* transform: scaleX(-12); */
    }
}